<% include partials/header %>

  <!-- Header -->
  <header>
      <div id='slider'>
        <div class='slide slide1'>
          <div class='slide-content'>
          </div>
        </div>

        <div class='slide slide2'>
          <div class='slide-content'>
          </div>
        </div>

        <div class='slide slide3'>
          <div class='slide-content'>
          </div>
        </div>
      </div>
  </header>
  <!-- End Header -->

<main>

  <div id='formArea'>
    <form>
      <input placeholder='firstname' id='firstname'>
      <input placeholder='lastname' id='lastname'>
      <button onclick='mainFunction(); return false;'>Submit</button>
    </form>
  </div>

  <div id='responseArea'>
    <h1 id='testOne'></h1>
  </div>
  

</main>





<script type="text/javascript" src='/js/main.js'></script>
<script type="text/javascript" src='/js/image.js'></script>
<% include partials/footer %>


<!-- <form method='POST' action='/home'>
  <input placeholder='firstname' name='firstName'>
  <input placeholder='lastname'>
  <button type='submit'>Submit</button>
</form> -->





