<% include partials/header %>

  <!-- Header -->
  <header>
      <div id='slider'>
        <div class='slide slide1'>
          <div class='slide-content'>
          </div>
        </div>

        <div class='slide slide2'>
          <div class='slide-content'>
          </div>
        </div>

        <div class='slide slide3'>
          <div class='slide-content'>
          </div>
        </div>
      </div>
  </header>
  <!-- End Header -->

<main id='homeMain'>

  <div id='formUseArea'>

    <div id='formArea' >
      <h2 class='center'>Candidate Information</h2>
      <form class='candidateForm'>
        <input class='inputSize' placeholder='firstname' id='firstname'>
        <input class='inputSize' placeholder='lastname' id='lastname'>
        <button id='form_button' onclick='mainFunction(); return false;'>Submit</button>
      </form>
    </div>

    <div id='useArea'>  
      <h2 class='center'>How to Use</h2>
      <ul>
        <li>Type in a politicians name</li>
        <li>See the results below</li>
      </ul>
    </div>

  </div>

  <div id='resultsArea'>

  </div>

  
</main>

<footer>
  <div class='footer_div'>
     Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
  </div>
</footer>





<script type="text/javascript" src='/js/main.js'></script>
<script type="text/javascript" src='/js/image.js'></script>
<% include partials/footer %>


<!-- <form method='POST' action='/home'>
  <input placeholder='firstname' name='firstName'>
  <input placeholder='lastname'>
  <button type='submit'>Submit</button>
</form> -->





