<% include partials/header %>

<div class='signup_background'>

  <div class='login_container'>

    <h1 class='center login_title'>Sign Up</h1>

     <form method='POST' action='/signup' class='login_form'>
      <input placeholder='Username' name='username' type='text'><br>
      <input placeholder='Password' name='password' type='password'><br>
      <input placeholder='Retype Password' name='password2' type='password'><br>
      <button>Sign In</button>
    </form>

  </div>

</div>

<% include partials/footer %>