/**************************
 Generic HTML for whole page 
 ***************************/

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

button {
  border-color: red;
  color: blue;
  border-radius: 8px;
  padding: 15px;
}

/**************************
CSS for Login and some of sign up Page 
 ***************************/

.login_background {
  background-image: url(https://source.unsplash.com/s4vuMuapk4Y);
  height: 100%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup_background {
  background-image: url(https://source.unsplash.com/nlmq5jC9Slo);
  height: 100%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  height: 325px;
  width: 400px;
  color: white;
}

.login_title {
  padding-top: 10px;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/**************************
CSS for Home Page 
***************************/

header {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  position: relative;
}

.slide {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(https://source.unsplash.com/1UY8UuUkids)
}

.slide2 {
  background-image: url(https://source.unsplash.com/DoA2duXyzRM)
}

.slide3 {
  background-image: url(https://source.unsplash.com/pPquxoraq_M)
}

.slide-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-content span {
  font-size: 5rem;
  color: white;
}

#homeMain {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
}

#formUseArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 3px solid blue;
}

#formArea {
  width: 400px;
  margin-bottom: 20px;
}

.candidateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form_button {
  width: 150px;
  background-color: blue;
  color: white;
  border: 3px solid red;
  margin-top: 15px;
  margin-right: 10px;
}

.inputSize {
  width: 250px;
  height: 50px;
  margin-top: 15px;
  font-size: 25px;
}

.button_fix {
  display: flex;
  flex-direction: row;
}

ul li {
  font-size: 30px;
}

.info_area {
  margin-top: 30px;
}

#resultsArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

footer {
  border-top: 2px solid black;
  text-align: center;
  margin-top: 25px;
}

.footer_div {
  padding-top: 25px;
}

/****************************
Media Queries 
*****************************/

@media only all and (max-width: 768px) {

  #formUseArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #resultsArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
  }

}