/* Generic HTML for whole page */

body, html {
  height: 100%;
}

/* CSS for Login Page */

.login_background {
  background-image: url(https://source.unsplash.com/s4vuMuapk4Y);
  height: 100%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_container {
  background-color: rgba(0,0,0,0.7);
  border: 2px solid black;
  height: 300px;
  width: 300px;
}